{% extends 'base.html' %}
{% load tz %}

{% block content %}
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Latest Posts
                </h1>



                <!-- Latest Posts -->
                {% for entry in entries %}
                <h2>
                    <a href="{{ entry.categories.all.0 }}/{{ entry.slug }}">{{ entry.title }}</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">{{ entry.authors.all.0 }}</a>
                </p>

                {% localtime on %}
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ entry.creation_date }}</p>
                {% endlocaltime %}
                <hr>

                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{ entry.content|safe }}</p>
                <a class="btn btn-primary" href="/{{ entry.categories.all.0 }}/{{ entry.slug }}">Read More
                    <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
                {% endfor %}



                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!--TODO all of this below needs to go-->
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>
{% endblock %}